#vacancy {
  .vacancy {
    // padding: 70px;
    .vac {
      display: flex;
      justify-content: flex-end;
      // padding: 20px;
    }
    .btn {
      font-size: 16px;
      background: rgba(0, 128, 0, 0.438);
      color: white;
      width: 180px;
      height: 40px;
      border: none;
    }
    .cards {
      padding: 6px;
    }
    .blocks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1190px;
      // text-align:;
      height: 70px;
      background: rgba(202, 201, 201, 0.459);
      padding: 15px;
      p {
        color: rgba(128, 128, 128, 0.696);
      }
    }
  }
}



