@media (max-width: 1470px) {
  #video {
    .video {
      display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
     &--img1{
      img{
          width: 550px;
          height: 400px;
      }
      &__text1{
          top: 55px;
          left: 15px;
          h1{
              font-size: 35px;
          }
          &--par{
              font-size: 17px;
             

            
          }
      }

     }
    }
  }
}

@media (max-width: 1399px) {
  #video {
    .video {
      display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
     &--img1{
      img{
          width: 500px;
          height: 300px;
      }
      &__text1{
          top: 30px;
          left: 15px;
          h1{
              font-size: 27px;
          }
          &--par{
              font-size: 15px;
             

              
          }
      }

     }
    }
  }
}


@media (max-width: 1300px) {
  #video {
    .video {
      display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
     &--img1{
      img{
          width: 500px;
          height: 300px;
      }
      &__text1{
          top: 15px;
          left: 15px;
          h1{
              font-size: 28px;
          }
          &--par{
              font-size: 15px;
            
          }
      }

     }
    }
  }
}

@media (max-width: 1270px) {
  #video {
    .video {
      display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
     &--img1{
      img{
          width: 470px;
          height: 250px;
      }
      &__text1{
          top: 15px;
          left: 15px;
          h1{
              font-size: 23px;
          }
          &--par{
              font-size: 10px;
            
          }
      }

     }
    }
  }
}

@media (max-width: 1271px) {
  #video {
    .video {
      display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
     &--img1{
      img{
          width: 470px;
          height: 250px;
      }
      &__text1{
          top: 15px;
          left: 15px;
          h1{
              font-size: 23px;
          }
          &--par{
              font-size: 10px;
             
          }
      }

     }
    }
  }
}


@media (max-width: 1199px) {
  #video {
    .video {
      display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
     &--img1{
      img{
          width: 400px;
          height: 250px;
      }
      &__text1{
          top: 15px;
          left: 15px;
          h1{
              font-size: 23px;
          }
          &--par{
              font-size: 10px;
             
          }
      }

     }
    }
  }
}

@media (max-width: 1118px) {
  #video {
    .video {
      display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
     &--img1{
      img{
          width: 370px;
          height: 250px;
      }
      &__text1{
          top: 15px;
          left: 15px;
          h1{
              font-size: 23px;
          }
          &--par{
              font-size: 10px;
             
          }
      }
    }
  }
}
}

@media (max-width: 943px) {
#video {
  .video {
    display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 15px;
   &--img1{
    img{
        width: 670px;
        height: 450px;
    }
    &__text1{
        top: 45px;
        left: 35px;
        h1{
            font-size: 38px;
        }
        &--par{
            font-size: 18px;
          
        }
    }

   }
  }
}
}


@media (max-width: 913px) {
#video {
  .video {
    display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
   &--img1{
    img{
        width: 600px;
        height: 350px;
    }
    &__text1{
        top: 45px;
        left: 35px;
        h1{
            font-size: 30px;
        }
        &--par{
            font-size: 13px;
            
        }
    }

   }
  }
}
}


@media (max-width: 913px) {
#video {
  .video {
    display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
   &--img1{
    img{
        width: 500px;
        height: 350px;
    }
    &__text1{
        top: 45px;
        left: 35px;
        h1{
            font-size: 30px;
        }
        &--par{
            font-size: 13px;
            
        }
    }

   }
  }
}
}


@media (max-width: 577px) {
#video {
  .video {
    display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
   &--img1{
    img{
        width: 450px;
        height: 300px;
    }
    &__text1{
        top: 40px;
        left: 30px;
        h1{
            font-size: 27px;
        }
        &--par{
            font-size: 10px;
           
        }
    }

   }
  }
}
}



@media (max-width: 500px) {
#video {
  .video {
    display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
   &--img1{
    img{
        width: 350px;
        height: 200px;
    }
    &__text1{
        top: 25px;
        left: 20px;
        h1{
            font-size: 17px;
        }
        &--par{
            font-size: 6px;
            h6{
                font-size: 10px;
            }
           
        }
    }

   }
  }
}
}


@media (max-width: 500px) {
#video {
  .video {
    display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
   &--img1{
    img{
        width: 250px;
        height: 170px;
    }
    &__text1{
        top: 15px;
        left: 20px;
        h1{
            font-size: 15px;
        }
        &--par{
            font-size: 6px;
            h6{
                font-size: 8px;
            }
          
        }
    }

   }
  }
}
}