@import "././components/assets/style/Header.scss";
@import "././components/assets/style/Footer.scss";
@import "././components/assets/style/Community.scss";
@import "././components/assets/style/Events.scss";
@import "././components/assets/style/Organizations.scss";
@import "././components/assets/style/Vacancies.scss";
@import "././components/assets/style/Video.scss";
@import "././components/assets/style/Media/MediaFooter.scss";
@import "././components/assets/style/Media/MediaHeader.scss";
@import "././components/assets/style/Media/MediaCommunity.scss";
@import "././components/assets/style/Media/MediaEvents.scss";
@import "././components/assets/style/Media/MediaOrganizations.scss";
@import "././components/assets/style/Media/MediaVideo.scss";
@import "././components/assets/style/Media/Vacancies.scss";
@import "././components/assets/style/Media/DetalMerop.scss";
@import "././components/assets/style/Media/DetalVideo.scss";
@import "././components/assets/style/Media/DetalOrganiz.scss";
@import "././components/assets/style/Media/MediaDetalVideo.scss";
@import "././components/assets/style/Media/DetailVacancy.scss";
@import "../src/components/assets/style/Auth.scss";
@import "././components/assets/style/AddVac.scss";
@import "././components/assets/style/AddVideo.scss";
@import "././components/assets/style/AddEvents.scss";

* {
  margin: 0;
  padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
a{
  text-decoration:none;
}
button{
  border: none;
  cursor: pointer;
}


